<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/editProduct.css">
    </head>
    <body>
        
    
        <%- include('../partials/header.ejs') %>
    
        <main>
        <br>
    <!-- Contenido específico de la página principal -->
        <section class="container-form">
            <div class="formP">
                <h2 class="titulo">Editar Producto: <%=producto.name%></h2>        
                <!--CARGA DE PRODUCTOS-->
        
                <form action="/product/edit/<%=producto.id%>?_method=PUT" method="POST" class="form-Product" enctype="multipart/form-data">

                    <div class="subir">
                        <div class="para-img">
                            <img src="/img/<%=producto.image%>" alt="">
                        </div>
                        
                        <label class="textoCampo" for="image">Subir Imagen:</label>
                        <input type="file" id="image" name="image" accept="image/*" >
                    </div>
                    <div class="cont">
                        <div class="contenido">
                            <label for="image">URL de la Imagen:</label>
                            <input type="url" id="image" name="imagen" >
                        </div>
    
    
                        <div class="contenido">
                            <label for="name">Nombre del Producto:</label>
                            <input type="text" id="name" name="name" value="<%=producto.name%>">
                        </div>
                        <div class="contenido">
                            <label for="name">Marca:</label>
                            <select name="brand" id="brand">
                                <option value="" disabled <%= !producto.id_marca ? 'selected' : '' %>>Seleccione Marca</option>
                                <% marcas.forEach(element => { %>
                                    <option value="<%= element.id %>" <%= element.id === producto.id_marca ? 'selected' : '' %>><%= element.name %></option>
                                <% }); %>
                                <option value="">Otra marca</option>
                            </select>
                            
                            
                        </div>
        
                        <div class="contenido">
                            <label for="cantidad">Cantidad:</label>
                            <input type="number" id="stock" name="stock" min="1" value="<%=producto.stock%>">
                        </div>
                        
                        <div class="contenido">
                            <div class="contenido">
                                <label>Categoría:</label>
                                <div class="checkbox-group">
                                    <div class="chek-caja">
                                        <input type="checkbox" id="notebook" name="category" value="notebook" <%= producto.category === 'notebook' ? 'checked' : '' %>>
                                        <label for="notebook">Notebook</label>
                                    </div>
                                    
                                    <div class="chek-caja">
                                        <input type="checkbox" id="tablet" name="category" value="tablet" <%= producto.category === 'tablet' ? 'checked' : '' %>>
                                        <label for="tablet">Tablet</label>
                                    </div>
                                    
                                    <div class="chek-caja">
                                        <input type="checkbox" id="celulares" name="category" value="celulares" <%= producto.category === 'celulares' ? 'checked' : '' %>>
                                        <label for="celulares">Celulares</label>
                                    </div>
                                    
                                    <div class="chek-caja">
                                        <input type="checkbox" id="PC-desktop" name="category" value="PC de Escritorio" <%= producto.category === 'PC de Escritorio' ? 'checked' : '' %>>
                                        <label for="PC-desktop">PC de Escritorio</label>
                                    </div>
                                    
                                    <div class="chek-caja">
                                        <input type="checkbox" id="perifericos" name="category" value="Perifericos" <%= producto.category === 'Perifericos' ? 'checked' : '' %>>
                                        <label for="perifericos">Periféricos</label>
                                    </div>
                        
                                    <div class="chek-caja">
                                        <input type="checkbox" id="consolas" name="category" value="Consolas" <%= producto.category === 'Consolas' ? 'checked' : '' %>>
                                        <label for="consolas">Consolas</label>
                                    </div>
                                    
                                    <div class="chek-caja">
                                        <input type="checkbox" id="in-sale" name="category" value="in-sale" <%= producto.category === 'in-sale' ? 'checked' : '' %>>
                                        <label for="in-sale">in-sale</label>
                                    </div>
                            
                                    <div class="chek-caja">
                                        <input type="checkbox" id="visited" name="category" value="visited" <%= producto.category === 'visited' ? 'checked' : '' %>>
                                        <label for="visited">visited</label>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
        
        
                        <div class="contenido">
                            <label for="price">Precio:</label>
                            <input type="text" id="price" name="price" value="<%=producto.price%>" >
                        </div>
                        <div class="contenido">
                            <label for="price">Descuento:</label>
                            <input type="text" id="discount" name="discount" value="<%=producto.discount%>" >
                        </div>
    
                        <div class="desc">
                            <label for="description">Descripción:</label>
                            <textarea id="description" name="description" > <%=producto.description%></textarea>
                        </div>

                        <div class="btnDeForm">
                            <button type="submit" class="sub">Actualizar Producto</button>
                            <button type="reset" class="res">Borrar datos</button>
                        </div>
                    
        
                    </div>
                    
                    
                    
                </form>

            </div>
           
        </section>
        <br>
    
    </main>

    <%- include('../partials/footer') %>
</body>
</html>