<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>
    

    <%- include('../partials/header.ejs') %>

    <main>
        <section>
            

            <div class="producto">
                
                
                <div class="centrar">
                    <div class="imagenes">
                        <img class="izquierda" src="/img/<%=productDetail.image%>" alt="Producto">               
                        <div class="vistas">
                            <img class="vista1" src="/img/<%=productDetail.image%>" alt="Producto">               
                            <img class="vista2" src="/img/<%=productDetail.image%>" alt="Producto">               
                            <img class="vista3" src="/img/<%=productDetail.image%>" alt="Producto">  
                        </div>
                    </div>
                    
                    <div class="atributos">
                        <h2 class="nombre-producto"><%=productDetail.name%></h3>
                    
                        <br>
                        <div class="precio">
                            <p class="esp">PRECIO ESPECIAL </p>
                            <p class="contado"><%=productDetail.price%></p>
                        </div>
                            
                        <br>      
                            
                        <div class="formasPago">
                            <img src="/img/Tecnojuy.png" alt="">
                            <div class="cuotas">
                                <aside class="nombre">HASTA 12 CUOTAS DE</aside>
                                <aside class="precio-lista">$8770</aside>
                            </div>
                            <div class="cuotas">
                                <aside class="nombre">PRECIO DE LISTA</aside>
                                <aside class="precio-lista"><%=productDetail.price%></aside>
                            </div>
                                
                        </div>

                        <div class="acciones">
                            <form action="/product/delete/<%= productDetail.id %>?_method=DELETE" method="post">
                                <button type="submit" class="delete">
                                    <i class="fa-solid fa-trash-can"></i> ELIMINAR
                                </button>
                            </form>

                                

                            <a href="/product/edit/<%=productDetail.id%>"><button class="edit"><i class="fa-solid fa-file-pen"></i> EDITAR</button></a>
                        </div>



                    </div>
                    
                    
                </div>
                
                
                <br>
                
                <br>
                

                <br>

                <div class="container">
                    <div class="iconos">
                        <div class="stock">
                            <i class="fa-solid fa-shield-halved"></i>
                            <p>  GARANTIA OFICIAL 12 MESES</p>
                        </div>
                        
                        <div class="stock">
                            <i class="fa-solid fa-check"></i>
                            <p>STOCK DISPONIBLE</p>
                        </div>
        
                        <div class="stock">
                            <i class="fa-solid fa-truck-moving"></i>
                            <p>ENVIOS A TODO EL PAIS</p>
                        </div>
                    </div>
                    
                    <div class="boton">
                        <button class="agregar-carrito"><i class="fa-regular fa-money-bill-1"></i> COMPRAR</button>
                        <button class="agregar-carrito"><i class="fa-solid fa-cart-plus"></i> AGREGAR AL CARRITO</button>
                    </div>
                    
                    
                </div>
                
                <div class="descripcion">
    
                    <h3 >DESCRIPCION GENERAL</h3> 
                    <p><%=productDetail.description%>
                    </p>
                </div>


                
                   
                
            </div>
            
            
            <br>
            
        </section>


    </main>

    <%- include('../partials/footer') %>
</body>
</html>