<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/productList.css">
</head>
<body>
    

    <%- include('../partials/header.ejs') %>

    <main>       
       
       
       <h2 class="titulares">Todos Los Productos </h2>
                <section class="contenedor">
                    
                    <<% products.map(producto=> { %>
                        <article>
                            <a href="/product/detail/<%=producto.id%>">
                                <div class="imgProduct">
                                    <img src="/img/<%=producto.image%>" alt="product">
                                </div>
                                <i class="fa-regular fa-heart" id="favorite"></i>
                                <h3><%=producto.name%></h3>
                                <p class="precios"><%=producto.price%></p>
                                <p class="descuento"><%=producto.discount%> OFF</p>
                                <p hidden class="descripcion"><%=producto.description%></p>
                                <i class="fa-solid fa-cart-shopping" id="cart"></i>
                            </a>
                        </article>
                    <% }) %>
            
                </section>
    </main>


    <%- include('../partials/footer') %>



</body>

</html>