<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/registerProducto.css">
    </head>
    <body>
        
    
        <%- include('../partials/header.ejs') %>
    
    <main>
        <br>
        <!-- Contenido específico de la página principal -->
        <section class="container-form">
            <div class="formP">
                <h2 class="titulo">Añadir Producto</h2>        
                <!--CARGA DE PRODUCTOS-->
        
                <form action="/product/registerProduct" method="POST" class="form-Product" enctype="multipart/form-data">

                    <div class="subir">
                        <div class="para-img">
                            <i class="fa-solid fa-image"></i>
                        </div>
                        
                        <label class="textoCampo" for="image">Subir Imagen:</label>
                        <input type="file" id="image" name="image" accept="image/*" >
                        <% if (locals.errors && errors.image) { %>
                            <div class="text-danger">
                                <%=errors.image.msg  %>
                            </div>
                        <% } %>
                    </div>
                    <div class="cont">
                        <div class="contenido">
                            <label for="image">URL de la Imagen:</label>
                            <input type="url" id="image" name="url" value="<%=locals.oldDate ? oldDate.url : null %>">
                            <% if (locals.errors && errors.url) { %>
                                <div class="text-danger">
                                    <%=errors.url.msg  %>
                                </div>
                            <% } %>
                        </div>
    
    
                        <div class="contenido">
                            <label for="name">Nombre del Producto:</label>
                            <input type="text" id="name" name="name" value="<%=locals.oldDate ? oldDate.name : null %>">
                            <% if (locals.errors && errors.name) { %>
                                <div class="text-danger">
                                    <%=errors.name.msg  %>
                                </div>
                            <% } %>
                        </div>
                        <div class="contenido">
                            <label for="name">Marca:</label>
                            <select name="brand" id="brand">
                                <option value="" disabled selected>Seleccione Marca</option>
                                <% marcas.forEach(element => { %>
                                    <option value="<%= element.id %>"><%= element.name %></option>
                                <% }); %>
                                <option value="">Otra marca</option>
                                <% if (locals.errors && errors.avatar) { %>
                                    <div class="text-danger">
                                        <%=errors.avatar.msg  %>
                                    </div>
                                <% } %>
                            </select>
                            
                        </div>
                        
        
                        <div class="contenido">
                            <label for="price">Stock:</label>
                            <input type="number" id="stock" name="stock" min="1" value="<%=locals.oldDate ? oldDate.stock : null %>">
                            <% if (locals.errors && errors.stock) { %>
                                <div class="text-danger">
                                    <%=errors.stock.msg  %>
                                </div>
                            <% } %>
                        </div>
                        
                        <div class="contenido">
                            <div class="contenido">
                                <label>Categoría:</label>
                                <div class="checkbox-group">
                                    <div class="chek-caja">
                                        <input type="checkbox" id="notebook" name="category" value="notebook">
                                        <label for="notebook">Notebook</label>
                                    </div>
                                    
                                    <div class="chek-caja">
                                        <input type="checkbox" id="tablet" name="category" value="tablet">
                                        <label for="tablet">Tablet</label>
                                    </div>
                                    
                                    <div class="chek-caja">
                                        <input type="checkbox" id="celulares" name="category" value="celulares">
                                        <label for="celulares">Celulares</label>
                                    </div>
                                    
                                    <div class="chek-caja">
                                        <input type="checkbox" id="PC-desktop" name="category" value="PC de Escritorio">
                                        <label for="PC-desktop">PC de Escritorio</label>
                                    </div>
                                    
                                    <div class="chek-caja">
                                        <input type="checkbox" id="perifericos" name="category" value="Perifericos">
                                        <label for="perifericos">Periféricos</label>
                                    </div>
                                    
                                    <div class="chek-caja">
                                        <input type="checkbox" id="consolas" name="category" value="Consolas">
                                        <label for="consolas">Consolas</label>
                                    </div>
                                    
                                    <div class="chek-caja">
                                        <input type="checkbox" id="in-sale" name="category" value="in-sale">
                                        <label for="in-sale">in-sale</label>
                                    </div>
                            
                                    <div class="chek-caja">
                                        <input type="checkbox" id="visited" name="category" value="visited">
                                        <label for="visited">visited</label>
                                    </div>
                                    <% if (locals.errors && errors.avatar) { %>
                                        <div class="text-danger">
                                            <%=errors.avatar.msg  %>
                                        </div>
                                    <% } %>
                                    
                                </div>
                            </div>
                            
                        </div>
        
                        <div class="contenido">
                            <label for="price">Precio:</label>
                            <input type="text" id="price" name="price" min="0" step="0.01" value="<%=locals.oldDate ? oldDate.price : null %>">
                            <% if (locals.errors && errors.price) { %>
                                <div class="text-danger">
                                    <%=errors.price.msg  %>
                                </div>
                            <% } %>
                        </div>
                        <div class="contenido">
                            <label for="price">Descuento:</label>
                            <input type="text" id="price" name="discount" value="<%=locals.oldDate ? oldDate.discount : null %>">
                            <% if (locals.errors && errors.discount) { %>
                                <div class="text-danger">
                                    <%=errors.discount.msg  %>
                                </div>
                            <% } %>
                        </div>
    
                        <div class="desc">
                            <label for="description">Descripción:</label>
                            <textarea id="description" name="description" value=""><%=locals.oldDate ? oldDate.description : null %></textarea>
                            <% if (locals.errors && errors.description) { %>
                                <div class="text-danger">
                                    <%=errors.description.msg%>
                                </div>
                            <% } %>
                        </div>

                        <div class="btnDeForm">
                            <button type="submit" class="sub">Crear Producto</button>
                            <button type="reset" class="res">Borrar datos</button>
                        </div>
                    
        
                    </div>
                    
                    
                    
                </form>

            </div>
           
        </section>
        <br>
    
    </main>
    <script src="/js/validatorProduct"></script>
    <%- include('../partials/footer') %>
</body>
</html>