<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    

    <%- include('./partials/header.ejs') %>

    <main>
        <div class="imgPromo">
            <img src="/img/image 9.png" alt="banner" class="promo">  
        </div>

        <h2 class="titulares">Lo Mas Destacado </h2>
        <section class="contenedor">
            <% visitedProducts.map(prod=> { %>
                <article>
                    <a href="/product/detail/<%=prod.id%>">
                        <div class="imgProduct">
                            <img src="/img/<%=prod.image%>" alt="product">
                        </div>
                        <i class="fa-regular fa-heart" id="favorite"></i>
                        <h3><%=prod.name%></h3>
                        <p class="precios"><%=prod.price%></p>
                        <p class="descuento"><%=prod.discount%> OFF</p>
                        <p hidden class="descripcion"><%=prod.description%></p>
                        <i class="fa-solid fa-cart-shopping" id="cart"></i>
                    </a>
                </article>
            <% }) %>
        </section>

        
        <div id="gpu-cpu-promo">
            <img src="/img/caratula-2024-perif.jpg" alt="" id="perifericos-img">
            <img src="/img/caratula-2024-gpus.jpg" alt="" id="gpu-promo">
            <img src="/img/caratula-2024-mbs.jpg" alt="" id="mother-promo">
        </div>
        <!-- Espacio para anuncios  -->
        <div class="anucio">
            <div class="cartel">
                <div class="mensaje">
                    <p>¡No te lo pierdas!</p>
                    <h3>Ofertas Solo Por 24 hrs</h3>
                    <button>Ver Mas</button>
                </div>
                <img src="/img/Frame.png" alt="">
            </div>
            
            <div class="cartel">
                <div class="mensaje">
                    <p>¡No te lo pierdas!</p>
                    <h3>Ofertas Solo Por 24 hrs</h3>
                    <button>Ver Mas</button>
                </div>
                <img src="/img/Fradasdme.png" alt="">
            </div>
            
        </div>


        <h2 class="titulares">Sugerencias para ti </h2>
        <section class="contenedor">
            <% inSale.map(producto=> { %>
                <article>
                    <a href="/product/detail/<%=producto.id%>">
                        <div class="imgProduct">
                            <img src="/img/<%=producto.image%>" alt="product">
                        </div>
                        <i class="fa-regular fa-heart" id="favorite"></i>
                        <h3><%=producto.name%></h3>
                        <p class="precios"><%=producto.price%></p>
                        <p class="descuento"><%=producto.discount%> OFF</p>
                        <p hidden class="descripcion"><%=producto.description%></p>
                        <i class="fa-solid fa-cart-shopping" id="cart"></i>
                    </a>
                </article>
            <% }) %>
            
            
        </section>


        <h2>Marcas</h2>
        <div class="marcas">
            <div class="tarjeta">
                <img src="/img/paralenovo.jpg" alt="" id="fondo">
                <img src="/img/Lenovo.png" alt="" id="empresa">
                <h4>Lenovo</h4>
            </div>
            <div class="tarjeta">
                <img src="/img/paraintel.webp" alt="" id="fondo">
                <img src="/img/58568d224f6ae202fedf2720.png" alt="" id="empresa">
                <h4>Intel</h4>
            </div>
            <div class="tarjeta">
                <img src="/img/paranvidia.jpg" alt="" id="fondo">
                <img src="/img/nvdia.png" alt="" id="empresa">
                <h4>Nvidia</h4>
            </div>
            <div class="tarjeta">
                <img src="/img/pararedragon.jpg" alt="" id="fondo">
                <img src="/img/redragon.png" alt="" id="empresa">
                <h4>Redragon</h4>
            </div>
            <div class="tarjeta">
                <img src="/img/pararayzen.avif" alt="" id="fondo">
                <img src="/img/rayzen.jpg" alt="" id="empresa">
                <h4>Rayzen</h4>
            </div>
        </div>



    </main>

    <%- include('./partials/footer') %>
</body>
</html>