<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/productSearch.css">
    </head>
    <body>

        <%- include('./partials/header.ejs') %>

        <main>


            <h2>Resultados de las busqueda: <%= busqueda %></h2>


            <div class="lista-categoria">

                <div class="cat">
                    <h3 class="sub-cat">Categorias</h3>
                    <ul>
                        <li><a href="#">Notebook</a></li>
                        <li><a href="#">Tablet</a></li>
                        <li><a href="#">Celular</a></li>
                        <li><a href="#">Componentes de PC</a></li>
                        <li><a href="#">Perifericos</a></li>
                        <li><a href="#">Consolas</a></li>
                    </ul>
                    <h3 class="sub-cat">Marca</h3>
                    <ul>
                        <% marca.map(mar =>{ %>
                        <li><a href="#"><%= mar.name %></a></li>
                        <% }) %>
                    </ul>

                </div>
                
                    <section class="articulos-venta">
                        <% if (productSearch.length>0){ %>
                            
                            <% productSearch.map(prod =>{ %>
                            <a href="/product/detail/<%=prod.id%>" class="etiqueta">    
                                <article class="product">
                                    <div class="caja-imagen">
                                        <img src="/img/<%=prod.image%>" alt="">
                                    </div>
                                    <i class="fa-regular fa-heart" id="favorite"></i>
                                    <div class="contenido">
                                        <h2 class="nom-product"><%=prod.name%></h2>
                                        <div class="prec">
                                            <p class="monto"><%=prod.price%></p>
                                            <p class="descuento"><%=prod.discount%> OFF</p>
                                        </div>
                                    </div>
                                    <i class="fa-solid fa-cart-shopping" id="cart"></i>
                                </article>
                            </a>
                            <% }) %>
                        
                        <% }else{ %>
                            <h3>No hay productos que coincidan con tu búsqueda</h3>
                        <% } %>
                        
                    </section>
               

            </div>










        </main>
        <%- include('./partials/footer') %>   
        
    </body>
</html>